In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('students.xlsx')
print(df)

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

In [5]:
marks=df['Marks'].to_numpy()
print('Numpy Array of Marks: ')
print(marks)

Numpy Array of Marks:
[85 90 78 92]

In [6]:
print('Highest marks ',np.max(marks))

Highest marks  92

In [7]:
print('Lowest marks ',np.min(marks))

Lowest marks  78

In [8]:
print('Average marks ',np.mean(marks))

Average marks  86.25

In [9]:
# .loc: Label based
# .iloc: Index based

In [16]:
print('Original DataFrame: ')
print(df)
print('\nLocation : Location Based ')
print(df.loc[0])

Original DataFrame:
    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

Location : Location Based
Name     John
Age        20
Marks      85
Name: 0, dtype: object

In [15]:
print('Original DataFrame: ')
print(df)
print('\nLocation : Index Based ')
print(df.iloc[0])

Original DataFrame:
    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

Location : Index Based
Name     John
Age        20
Marks      85
Name: 0, dtype: object

In [18]:
print('Original DataFrame: ')
print(df)
print('\nLocation : Location Based ')
print(df.loc[2,['Name']])

Original DataFrame:
    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

Location : Location Based
Name    Bob
Name: 2, dtype: object

# Axis in Numpy : 
    ## Axis 0 : vertical direction: works column wise
    ## Axis 1 : horizontal direction : works row-wise

In [19]:
## We have 2 students marks in 3 subject
## [[45,50,49],[30,45,49]]

In [20]:
marks_array=np.array([[45,50,49],[30,45,49]])
print(marks_array)

[[45 50 49]
 [30 45 49]]

In [22]:
print('Sum down each column ',np.sum(marks_array,axis=0))

Sum down each column  [75 95 98]

In [23]:
print('Sum down each row ',np.sum(marks_array,axis=1))

Sum down each row  [144 124]

Find the Student Name who got highest marks

In [27]:
topper=df.loc[df['Marks'].idxmax(),'Name']
print(topper)

Sara

In [30]:
lastinclass=df.loc[df['Marks'].idxmin(),'Name']
print(lastinclass)

Bob

In [31]:
top_index=df['Marks'].idxmax()
print(top_index)

3

In [34]:
top_student=df.iloc[top_index,df.columns.get_loc('Name')]
print('Topper of the Class :',top_student)

Topper of the Class : Sara